<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971048186595-a3s1jvn6gp8tig7959u61q1g35ims5fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971048186595-a3s1jvn6gp8tig7959u61q1g35ims5fk</string>
	<key>API_KEY</key>
	<string>AIzaSyCMfPesvoCY-RPaH3cABJHk48JBw1QXvPI</string>
	<key>GCM_SENDER_ID</key>
	<string>971048186595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mickey.shoppinglisttracker</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-e84b8</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-e84b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971048186595:ios:adc581c072f5db122e8bd6</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-e84b8-default-rtdb.firebaseio.com</string>
</dict>
</plist>